# wiki build and deploy 

name: wiki-build-workflow

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    name: Build wiki
    if: github.repository == 'bigtreetech-beta/biqu-wiki'
    
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Environment
      uses: actions/setup-node@v4
      with:
        node-version: '24.x'
      
    - name: Install dependencies
      run: yarn install
      
    - name: build wiki 
      run: yarn run build

    - name: upload to cloudflare r2
      uses: ryand56/r2-upload-action@latest
      with:
        r2-account-id: ${{ secrets.R2_ACCOUNT_ID }}
        r2-access-key-id: ${{ secrets.R2_ACCESS_KEY_ID }}
        r2-secret-access-key: ${{ secrets.R2_SECRET_ACCESS_KEY }}
        r2-bucket: ${{ secrets.R2_BUCKET }}
        source-dir: build
        destination-dir: ./
